<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ стипендий</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="p-4">
    <div class="analysis-container">
        <div class="analysis-panel">
            <h2>Оценка изменения минимального среднего балла</h2>

            <div class="analysis-input-block">
                <input type="number" id="minAvg" min="0" max="10" step="0.1"
                    placeholder="Например, 7.5" class="analysis-input">
                <button class="button" id="analyzeBtn">Рассчитать</button>
            </div>

            <div id="error" class="analysis-error"></div>
        </div>

        <div id="results" class="analysis-results">
            <h3>Результаты анализа:</h3>

            <div class="analysis-summary">
                <table id="analysisTable" class="students-analysis-table">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
                </table>
            </div>

            <table id="studentsTable" class="students-analysis-table">
            <thead>
                <tr></tr>
            </thead>
            <tbody></tbody>
        </table>

        <div style="display:flex; gap: 40px; margin-top: 30px;">
        <div>
            <h4>Распределение: Вероятность достижения порога</h4>
            <canvas id="histogramImprovement" width="400" height="300"></canvas>
        </div>
        <div>
            <h4>Распределение: Вероятность потери стипендии</h4>
            <canvas id="histogramRisk" width="400" height="300"></canvas>
        </div>
        </div>
    </div>

    <script src="/js/scholarshipAnalysis.js"></script>
</body>
</html>
